/* StepContainer.css */
.container {
  display: flex;
  max-width: 900px;
  margin: auto;
  background: white;
  border-radius: 12px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  margin-top: 50px;

}

.form {
  width: 70%;
  padding: 40px;
}

.form h2 {
  color: #022959;
  margin-top: 0;
}

.form p {
  color: #9699AA;
  font-size: 14px;
}

label {
  display: block;
  margin-top: 20px;
  font-weight: 600;
  color: #022959;
}

input {
  width: 85%;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 16px;
}

.next-btn {
  background-color: #022959;
  color: white;
  padding: 12px 24px;
  border: none;
  border-radius: 6px;
  margin-top: 30px;
  cursor: pointer;
  position: fixed;
  right: 350px;
  bottom: 80px;
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
    width: 90%;
    margin: 60px auto;
    border-radius: 12px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
    background: white;
    overflow: hidden;
    position: relative;
  }

  .form {
    width: 100%;
    padding: 24px;
    box-sizing: border-box;
    text-align: left;
  }

  .form h2 {
    font-size: 22px;
    margin-bottom: 8px;
  }

  .form p {
    font-size: 14px;
    color: #777;
    margin-bottom: 20px;
  }

  label {
    font-size: 13px;
    color: #022959;
  }

  input {
    font-size: 14px;
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 6px;
    box-sizing: border-box;
  }

  .next-btn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: calc(100% - 40px);
    max-width: 180px;
    padding: 12px;
    background-color: #022959;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    z-index: 999;
  }
}
